h1 {
    color: white;
}

h2 {
    color: pink;
}

p {
    margin: .5em;
}
p, li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    color: white;
}

body {
    background-color: black;
}

section {
    padding: .5em;
}